<article class="draw-card" id="card" aria-live="polite">
  <span class="draw-card__corner draw-card__corner--tl"></span>
  <span class="draw-card__corner draw-card__corner--tr"></span>
  <span class="draw-card__corner draw-card__corner--bl"></span>
  <span class="draw-card__corner draw-card__corner--br"></span>
  <div class="draw-card__shine"></div>
  <!-- <div class="draw-card__inner">
    <img
      class="draw-card__item"
      id="img"
      src="/card/temp.png"
      alt="Item sorteado"
    />
  </div> -->
  <img
    class="draw-card__item"
    id="img"
    src="/card/temp.png"
    alt="Item sorteado"
  />
  <div class="draw-card__name" id="name"></div>
</article>
